@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bs-white: #ffffff;
  --bs-pink-100: #ebdfd4;
  --bs-pink-200: #F2B3B3;
  --bs-pink-300: #D96C80;
  --bs-pink-400: #BF2C53;
  --bs-pink-500: #8C2E40;
  --bs-accent: #baa680;

  --ff: "Jost", sans-serif;
  --h1: bold max(54px, 6vw)/ max(64px, 5vw) var(--ff);
  --h2: bold max(36px, 4vw)/ max(48px, 4vw) var(--ff);
  --h3: bold max(24px, 3vw)/ max(30px, 3vw) var(--ff);
  --p: 400 max(15px, 1vw)/ max(15px, 1vw) var(--ff);
  --ps: 500  12px var(--ff);
  --transition: 0.3 ease-in-out;
}
 

html,
body,
* {
  padding: 0;
  margin: 0;
 box-sizing: border-box;
 font: var(--ff);

}
 

::-webkit-scrollbar {
  width: 0px;
}

a {
  text-decoration: none;
}

.main-container {


  width: 100vw;

}


/*
.search-bar {
  display: grid;
  grid-template-columns: 95% 1fr;

  width: 40vw;
  background-color: #F8F8F8;
  padding: 0.3em;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  gap: 1px;


}

.search-bar:hover {
  border: 2px solid lightgrey;
  -webkit-box-shadow: 33px 21px 85px 0px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 33px 21px 85px 0px rgba(0, 0, 0, 0.42);
  box-shadow: 33px 21px 85px 0px rgba(0, 0, 0, 0.42);
}

*/

.container-fluid {
  background-color: var(--bs-white);
  border-bottom: 0.1px rgba(0, 0, 0, 0.37);
  border-bottom-right-radius: 10px;
  box-shadow: 2px 3px 15px rgba(51, 51, 51, 0.1);
  width: 100vw !important;
  padding-inline: 0 2vw;


}

.navbar {
  position: absolute;
  padding: 0;
  background-color: var(--bs-white);

}

.marquee-text {
  font-size: 29px;
  font-weight: 600;
  margin: 60px 0px;
  color: #f02d34;
}

.marquee {
  position: relative;
  height: 400px;
  width: 100%;
  overflow-x: hidden;
}


.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
  width: 180%;
}

.track:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

span.text-red {
  -webkit-text-stroke: 1px #f02d34;
  margin-left: 6px;
}




.nav-link {
  color: var(--coloraccent);
}

.navbar-icons {
  margin-right: 1rem;
  display: flex;


}






.cart-icon {
  position: relative;
  transition: transform .4s ease;

}

.cart-item-qty {
  position: absolute;

  right: -8px;
  font-size: 12px;
  color: #eee;
  background-color: #fe68a8;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;

}

.products-section{
  max-width: 2000px;
 
}

.products-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 0.5rem;
  max-width: 1400px;

}



@media only screen and (min-width: 500px) {
  .products-container {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 15px;


  }
}


@media only screen and (min-width: 1000px) {
  .products-container {
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
  }.products-section{

  }
}





.product-card {



  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  color: #324d67;
  display: grid;
  grid-template-rows: 4fr 1fr;
 
 border: transparent 2px solid;


}

.product-card:hover {
  /*maybe*/
  border: #324d67 2px solid;
  border-radius: 1px;
 

}



.product-image {
  width: 100%;
  object-fit: cover;
  position: relative;
 


  border-radius: 10px;
  transform: scale(1, 1);
  transition: transform 0.5s ease;

}

.product-name {
  font: var(--p);
  padding-top: 0.375em;


}


.product-price {
  position: absolute;
  bottom: 15%;
  left: 2%;
  

  font: var(--ps);
  


  display: flex;
  flex-direction: column;
  transition: transform 250ms;


}

.product-price span, .product-price p{
  background-color: var(--bs-white);
  width: max-content;


}
.discount{
  color: var(--bs-pink-500);
}
.sale-price{
  text-decoration: line-through;
}
.product-price > span {
  transform: translateY(-5px);
}

.product-card:hover .product-price {
  transform: translateY(-10px);
  letter-spacing: 0.5px;
  transition: 0.4 ease-in-out;
  
  color: black;
  /*maybe*/

}

.hero-banner-container {
  padding: 100px 40px;
  background-color: #dcdcdc;
  border-radius: 15px;
  position: relative;
  height: 500px;
  line-height: 0.9;

  top: 76px;

}

.hero-banner-container .beats-solo {
  font-size: 20px;
}

.hero-banner-container button {
  border-radius: 15px;
  padding: 10px 16px;
  background-color: #fe68a8;
  color: white;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  z-index: 10000 !important;
}

.hero-banner-container h3 {
  font-size: 4rem;
  margin-top: 4px;
}

.hero-banner-container h1 {
  color: white;
  font-size: 10em;
  margin-left: -20px;
  text-transform: uppercase;
}

.hero-banner-image {
  position: absolute;
  top: 0%;
  right: 20%;
  width: 450px;
  height: 450px;
}


.desc {
  position: absolute;
  right: 10%;
  bottom: 5%;
  width: 300px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  color: #324d67;

}

.desc p {
  color: #5f5f5f;
  font-weight: 100;
  text-align: end;
}

.desc h5 {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  /* color: black; */
  align-self: flex-end;
}

.product-header {
  display: flex;
  justify-content: center;


  background: linear-gradient(227deg, rgba(235, 235, 235, 1) 0%, rgba(247, 247, 247, 1) 90%);


}

.products-heading {
  text-align: center;

  margin: 100px 0px;
  color: #324d67;

}

.products-heading h2 {
  font-size: 40px;
 
}

.products-heading p {
  font-size: 16px;
  font-weight: 200;
}

.footer-banner-container {
  padding: 30px 40px;
  background-color: var(--colorsecondary);
  border-radius: 15px;
  position: relative;
  height: 400px;
  line-height: 1;
  color: white;
  width: 100%;
  margin-top: 120px;
}


.banner-desc {
  display: flex;
  justify-content: space-between;

}

.banner-desc button {
  border-radius: 15px;
  padding: 10px 16px;
  background-color: white;
  color: #f83c87;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.banner-desc .left h3 {
  font-weight: 900;
  font-size: 80px;
  margin-left: 25px;
}

.banner-desc .left p {
  margin: 18px;
}

.footer-banner-image {
  position: absolute;
  top: -25%;
  left: 25%;
}

.banner-desc .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.4;
}

.banner-desc .right h3 {
  font-weight: 800;
  font-size: 60px;
}

.banner-desc .right p {
  font-size: 18px;
}

.banner-desc .right .company-desc {
  font-size: 14px;
  font-weight: 300;
}

.cart-wrapper {
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  /* will-change: transform; */
  transition: all 1s ease-in-out;

}

.cart-container {
  height: 100vh;
  width: 600px;
  background-color: white;
  float: right;
  padding: 40px 10px;
  position: relative;

}

.pagination {
  margin: 0 auto;
}

.pagination ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;

}

.pagination ul li {
  list-style-type: none;

}

.footer-container {
  height: 15vh;
  background-color: var(--bs-pink-200);
  color: #324d67;
  text-align: center;
  margin-top: 20px;
  padding: 30px 10px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;

}

.footer-container .icons {
  font-size: 30px;
  display: flex;
  gap: 10px;
}

.cart-heading {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.cart-heading .heading {
  margin-left: 10px;
}

.cart-num-items {
  margin-left: 10px;
  color: var(--bs-pink-400);
}

.empty-cart {
  margin: 40px;
  text-align: center;
}

.empty-cart h3 {
  font-weight: 600;
  font-size: 20px;
}

.cancel {
  cursor: pointer;
}

.product-container {
  margin: 0 auto;
  margin-top: 15px;
  overflow: auto;
  padding: 20px 10px;

}

.product {
  display: flex;
  gap: 30px;
  padding: 20px;
}

.product .cart-product-image {
  width: 180px;
  height: 150px;
  border-radius: 15px;
  background-color: #ebebeb;
}

.item-desc .flex {
  display: flex;
  justify-content: space-between;
  width: 350px;
  color: #324d67;

}

.item-desc .bottom {
  margin-top: 60px;
}

.flex h5 {
  font-size: 24px;
}

.flex h4 {
  font-size: 20px;
}

.total {
  display: flex;
  justify-content: space-between;
}

.total h3 {
  font-size: 22px;

}

.remove-item {
  font-size: 24px;
  color: #f02d34;
  cursor: pointer;
  background: transparent;
  border: none;
}

.cart-bottom {
  position: absolute;
  bottom: 12px;
  right: 5px;
  width: 100%;
  padding: 30px 65px;

}

.btn-container {
  width: 400px;
  margin: auto;
}

.btn {
  width: 100%;
  max-width: 400px;
  padding: 10px 12px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  margin-top: 10px;
  margin-top: 40px;
  text-transform: uppercase;
  background-color: var(--bs-pink-400);
  color: #fff;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.btn:hover {
  transform: scale(1.1, 1.1);
}

.product-detail-container {
  display: flex;
  gap: 40px;
  margin:0px 40px  40px 40px;
  padding-top:10rem;
 
  color: #324d67;

}

.product-detail-image {
  border-radius: 15px;
  background-color: #ebebeb;

  width: 400px;
  height: 400px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.product-detail-image:hover {
  background-color: #fecce3;

}

.small-images-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.small-image {
  border-radius: 8px;
  background-color: #ebebeb;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.selected-image {
  background-color: #fecce3;
}

.reviews {
  color: #ca0c49;
  margin-top: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.product-detail-desc h4 {
  margin-top: 10px;
}

.product-detail-desc p {
  margin-top: 10px;
}

.reviews p {
  color: #324d67;
  margin-top: 0px;
}

.product-detail-desc .price {
  font-weight: 700;
  font-size: 26px;
  margin-top: 30px;
  color: #f02d34;
}

.price .old-price,
.product-price .old-price,
.price .old-price {
  color: gray;
  text-decoration: line-through;
}

.product-detail-desc .quantity {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  align-items: center;
}

.product-detail-desc .buttons {
  display: flex;
  gap: 30px;
}

.buttons .add-to-cart {
  padding: 10px 20px;
  border: 1px solid #f02d34;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  background-color: white;
  color: #f02d34;
  cursor: pointer;
  width: 200px;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.buttons .add-to-cart:hover {
  transform: scale(1.1, 1.1)
}

.buttons .buy-now {
  width: 200px;

  padding: 10px 20px;
  background-color: #CCFFCD;
  color: #49dd4b;
  border: #49dd4b solid 1px;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.buttons .buy-now:hover {
  transform: scale(1.1, 1.1)
}

.quantity-desc {
  border: 1px solid gray;
  padding: 6px;
}

.quantity-desc span {
  font-size: 16px;
  padding: 6px 12px;
  cursor: pointer;
}

.quantity-desc .minus {
  border-right: 1px solid gray;
  color: #f02d34;
}

.quantity-desc .num {
  border-right: 1px solid gray;
  font-size: 20px;
}

.quantity-desc .plus {
  color: rgb(49, 168, 49);

}

.maylike-products-wrapper {
  margin-top: 120px;
}

.maylike-products-wrapper h2 {
  text-align: center;
  margin: 50px;
  color: #324d67;

  font-size: 28px;
}

.maylike-products-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;

}
 
.maylike-products-container .product-image {
 width: 20vw;
}


.max-qty {
  font-weight: 500;
  color: #f02d34;
}

.success-wrapper,
.cancel-wrapper {
  background-color: white;
  min-height: 60vh;

}

.success,
.cancel {
  width: 1000px;
  margin: auto;
  margin-top: 160px;
  background-color: #dcdcdc;
  padding: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.success .icon {
  color: green;
  font-size: 40px;
}

.success h2 {
  text-transform: capitalize;
  margin-top: 15px 0px;
  font-weight: 900;
  font-size: 40px;
  color: #324d67;
}

.success .email-msg {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.cancel p {
  font-size: 20px;
  font-weight: 600;
}

.success .description {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
  margin-top: 30px;
}

.success .description .email {
  margin-left: 5px;
  color: #f02d34;
}

.product-max-qty {
  margin-top: 10px;
}





.navbar--container {
  top: 4.225rem;
  background-color: var(--bs-white);
  height: 11.250em;
  width: max(54px, 6vw)/ max(64px, 5vw);
  padding: 0.3em 0.3em 0em 0.3em;
  box-shadow: 2px 3px 50px rgba(51, 51, 51, 0.1);
  border-bottom: 0.1px inset rgba(0, 0, 0, 0.466);
  border-right: 0.1px inset rgba(0, 0, 0, 0.466);
  border-radius: 0em 0em 1em;

}

.close {
  transform: translateX(-300px);
  transition: all 0.4s ease-out;
  opacity: 0;
}

.icon-container svg {
  font-size: 30px;
  color: rgb(0, 0, 0);
  stroke-width: 0.5px;
}

.icon-container svg:hover {
  transform: scale(1.1, 1.1);
  color: rgba(0, 0, 0, 0.705);
}



.navbar--icon:hover,
.nav--open-icon:hover {
  color: var(--bs-pink-300);

  cursor: pointer;
}

.navbar--title {
  text-align: center;
  margin-left: 0.3rem
}

.navbar--title h4 {
  writing-mode: vertical-rl;
  letter-spacing: 0.34em;
  text-transform: uppercase;
  font-size: 0.9em;
}

.nav--open {
  height: 100vh;
  width: 300px;
  background: var(--bs-white);
  transition: all 0.4s ease-out;
  opacity: 1;
  box-shadow: 2px 2px 15px rgba(51, 51, 51, 0.1);
}

.nav--open-icon {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  padding: 20px;
}

.nav--open-icon i {
  font-size: 1.8em;
  color: #92BFB1;
}

.nav--open-icon i:hover {
  color: #333333;
  cursor: pointer;
}

.nav--open-svg {
  font-size: 2em;

}

.nav--open-title {

  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: left;
 
}

.nav--open-menu {
  height: 100%;
  display: flex;
  gap:0.250rem;
  flex-direction: column;
  text-align: left;
  margin-top: 30px;
  margin-left: 1rem;
  cursor: pointer;
 
}

.nav--open-menu a {
  color: var(--bs-pink-300);
  transition: all 0.3s;
  position: relative;
  transition: all 0.3s;
  position: relative;
}


a:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

.pagination-outer {
  margin: 0 auto;
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.pagination { 
  display: inline-flex;
  position: relative;
}

.pagination li a.page-link {
  color: #333;
  background-color: #e7e7e7;
  font-size: 20px;
  font-weight: 500;
  line-height: 39px;
  height: 40px;
  width: 40px;
  padding: 0;
  margin: 0 5px;
  border: none;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease 0s;
}

.pagination li a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link:hover,
.pagination li.active a.page-link {
  color: #fff;
  background: transparent;
}

.pagination li a.page-link:before,
.pagination li a.page-link:after {
  content: '';
  background: linear-gradient(to right, var(--bs-pink-300) 50%, transparent 50%);
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 0.4s ease 0s;
}

.pagination li a.page-link:after {
  background: linear-gradient(to right, var(--bs-pink-500) 50%, transparent 50%);
  transform: rotateY(180deg);
  top: auto;
  bottom: 0;
}

.pagination li a.page-link:hover:before,
.pagination li a.page-link:focus:before,
.pagination li.active a.page-link:before,
.pagination li a.page-link:hover:after,
.pagination li a.page-link:focus:after,
.pagination li.active a.page-link:after {
  height: 85%;
  opacity: 1;
}

.page-item select {

  padding: 0 0.25em;
  opacity: 1;
  border: none;
  border-radius: 10px;
  text-align: center;

  height: 40px;
  width: 40px;
}
.marquee .product-image {
  max-width:278px;

}


@media only screen and (max-width: 480px) {

  .pagination {

    border: none;
    display: inline-block;
  }

  .pagination li {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 10px;
  }
}




@media screen and (max-width:800px) {
  .hero-banner-container {
    height: 560px;
  }

  .hero-banner-image {
    width: 77%;
    height: 62%;
    top: -2%;
    right: -6%;
  }

  .footer-banner-container {
    height: 560px;
    margin-top: 80px;
  }

  .footer-banner-image {
    width: 77%;
    left: 30%;
    top: 6%;
    height: 56%
  }

  .banner-desc .left h3 {
    font-weight: 900;
    font-size: 50px;
    margin-left: 5px;
  }

  .banner-desc .left p {
    margin: 18px;
  }

  .banner-desc .right h3 {
    font-size: 45px;
  }

  .banner-desc .right p {
    font-size: 18px;
  }

  .banner-desc .right .company-desc {
    font-size: 14px;
  }

  .banner-desc {
    flex-wrap: wrap;
    gap: 20px;
  }

  .hero-banner-container {
    line-height: 1.3;
  }

  .hero-banner-container h1 {
    font-size: 50px;
  }

  .hero-banner-container h3 {
    font-size: 40px;
  }

  .hero-banner-container button {
    margin-top: 90px;
    z-index: 10000;
  }

  .desc {
    bottom: 60px;
  }

  .product-detail-container {
    flex-wrap: wrap;
  }

  .product-detail-container .product-detail-image {
    width: 350px;
    height: 350px;
  }

  .cart-container {
    width: 415px;
    padding: 4px;
  }

  .cart-heading {
    margin-top: 35px;
  }

  .product-container {
    margin-top: 10px;
  }

  .product {
    padding: 20px 5px;

  }

  .product .cart-product-image {
    width: 25%;
    height: 25%;
  }

  .buttons .add-to-cart {
    width: 150px;
  }

  .buttons .buy-now {
    width: 150px;
  }

  .product-detail-container {
    margin: 20px;
  }

  .item-desc .flex {
    width: 200px;
  }

  .top {
    flex-wrap: wrap;
    gap: 10px;


  }

  .item-desc .bottom {
    margin-top: 30px;
  }

  .flex h5 {
    font-size: 16px;
    color: #324d67;
  }

  .flex h4 {
    font-size: 16px;
    color: black;
  }

  .cart-bottom {
    padding: 30px;
  }

  .total h3 {
    font-size: 20px;
  }

  .track {
    animation: marquee 10s linear infinite;
    width: 550%;
  }

  .success-wrapper,
  .cancel-wrapper {

    min-height: 69vh;
  }

  .success,
  .cancel {
    width: 370px;
    margin-top: 100px;
    padding: 20px;
  }

  .success {
    height: 350px;
  }

  .success h2 {
    font-size: 17px;
  }

  .btn-container {
    width: 300px;
    margin: auto;
  }
}





@media only screen and (max-width: 610px) {



  .product-detail-container {
 margin-top: 0; 
 padding-top: 6rem;
  
  }
  .product-container {
    display: grid;
    grid-template-columns: repeat(2, 40vw);

  } 

  .product-container div {
    width: 100%;
  }

.nav--open-menu a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: var(--bs-pink-300);
  border-bottom-color: var(--bs-pink-300);
  transform: scale(0.1, 1);
}

a:hover span {
  letter-spacing: 2px;
}


a:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}

.nav--open-menu a span {
  transition: all 0.3s;
  font-size: 2em;
  font-weight: 400; 
  padding: 15px 0;
  color: var(--bs-pink-300);
}
.marquee .product-card {
  width:165px;

}
.marquee .product-image {
  width:165px;

}
 
}

@media only screen and (min-width: 611px) {

  .navbar--title, .nav--open-icon, .navbar--icon{  
    display: none !important;
  }
  .navbar--container{
    display: none;
  }
.close{
  transform: 0;
  opacity: 1;
  transform: translateX(0);
}

.nav--open-menu{
  display: flex;
  text-align: center;
  flex-direction: row;
 gap: 2rem;
 margin: 0 auto;
 align-items: center;
 
 
 padding: 0 1rem;
} .nav--open-menu a{
  color: rgba(0, 0, 0, 0.705);
  font-weight: 700;
 
} 
.nav--open-menu a:hover{
  text-decoration: underline;
 
} 

 .nav--open{
  height: 55px;
  position: absolute;
  top: 0;
  left: 10vw;
  width: 80vw;
  display: flex;
  justify-content: center;
  border-radius: 0 0 1rem 1rem;
  box-shadow: none;
  border:none;
  border-top: 0;
 
 } 
}
.navbar {
  position: absolute;
  padding: 0 !important;
  background-color: var(--bs-white);
  
}